<% layout('./layouts/boilerplate') %> 
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Uh Oh!!</h4>
    <hr><%=err.message %> </h5>
    <hr>
    <p class="mb-0"><%=err.statusCode %> </p>
  </div>